a {
  -webkit-transition: .25s all;
  transition: .25s all;
}

.card {
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgb(91, 192, 222), 0 2px 10px 0 rgb(51, 122, 183);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}
.card:focus, .card:hover {
  box-shadow: 0 5px 11px 0 rgb(255, 85, 85), 0 4px 15px 0 rgb(187, 75, 40);
}
