a {
  -webkit-transition: .25s all;
  transition: .25s all;
}

.card {
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgb(91, 192, 222), 0 2px 10px 0 rgb(51, 122, 183);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}
.card:focus, .card:hover {
  box-shadow: 0 5px 11px 0 rgb(255, 85, 85), 0 4px 15px 0 rgb(187, 75, 40);
}

.col-xs-6 {
  width: 50%!important;
}

.form-control-my {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-inline .form-control-my {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
