﻿body,p,form,input{margin: 0}

body{
	padding-top: 50px;
	padding-bottom: 100px;
	background-image: url(gazou/bord.png);
	background-repeat: no-repeat;
	background-position: center ;
	background-color: #ffffff;

	}

div.page-header{
	border-bottom:none;
}

#form{
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

.form-title{
    text-align: center;
    }

.ID,.pass{
    margin-bottom: 20px;
    }
