body {
		margin: 0;
  overflow: hidden;
	}
	#myCanvas {
		height: 50px;
	}

#button {
		position: fixed;
		font-size: 1.5em;
		text-transform: uppercase;
		/* padding: 7px 20px; */
		left: 50%;
		width: 200px;
		margin-left: -100px;
		border-radius: 10px;
		color: white;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.0);
		border: 5px solid transparent;
		border-bottom-color: rgb(54, 85, 130);
		background: hsl(208, 56%, 46%);
		cursor: pointer;
		outline: 0 !important;
		animation: pulse 1s infinite alternate;
		transition: background 0.4s, border 0.2s, margin 0.2s;
	}
	#button:hover {
		background: hsla(255, 100%, 60%, 1);
		margin-top: -1px;

		animation: none;
	}
	#button:active {
		border-bottom-width: 0;
		margin-top: 5px;
	}
	@keyframes pulse {
		0% {
			margin-top: 0px;
		}
		100% {
			margin-top: 6px;
		}
	}
