﻿body,p,form,input{margin: 0}

body{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #ffffff;

	}

div.page-header{
	border-bottom:none;
}

.form-header{
	max-width: 500px;
    margin: 0 auto;
    background-color: #33bbff;
    color: #fff;
    width: 100% ;
    padding: 5px 0px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    text-align: center;
	}

.loginform{
	border: 2px solid #33bbff;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 40px;
    text-shadow: none;
    }

.form-control{
	width: 300px;
	}

.ID,.pass{
    margin-bottom: 20px;
    }
