
body,p,form,input{margin: 0}

#header{ /* ヘッダの位置とか */
	padding: 20px;
	text-align: center;
	}

body{ /* 背景画像 */
	padding-top: 50px;
	background-color: #ffffff;
	border-bottom: none;
	}

#form{
	max-height: 300px;
    max-width: 400px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid #555;
    }

.form-title{
    text-align: center;
    }

.ID,.pass{
    margin-bottom: 20px;
    }
